.body
  = link_to "#" do
    = render 'sellbook-icon'
  .main
    .main__content
      .main__content__title
        お家で不要になった絵本ございませんか？
      .main__content__sub
        KidsBookParkは どなたでも 簡単に 出品・購入できる絵本のフリマアプリです
      .main__content__descripts
        .main__content__descripts__introduction
          .main__content__icon
            = image_tag ("introduction_icon.png"), class:"introduction-icon"
          .main__content__descripts__introduction__title
            こ ん な 方 に オ ス ス メ
          .main__content__icon
            = image_tag ("introduction_icon.png"), class:"introduction-icon"
        .main__content__descripts__list
          %li 子供が大きくなって読まなくなった絵本の処理に困っている
          %li 思い入れがあるものを捨てるのもなんだか勿体ない
          %li 子供が好きなシリーズをまとめて購入したい
          %li 出来るだけ安価で安全なものを購入したい