.mypage-main
  .mypage-wrapper
    = render "side_bar"
    .mypage-contents
      .mypage-contents__user
        .mypage-contents__user--icon
        .mypage-contents__user--name
          ="#{current_user.nickname}さん"
        .mypage-contents__user--listing
          出品数
          .mypage-contents__user--evaluations
            %p.evaluation
            %p.evaluation
          //= image_tag 'mypage-top.png', class: 'top-image'
      .mypage-listing_icon 
        = link_to "#" do
          = render 'sellbook-icon'