* {
  margin: 0px;
  padding: 0px;
}

.header{
  height: 130px;
  width: 100vw;
  background-color: #ffeaff;
  position: fixed;
  &__inner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    display: block;
    background-color: burlywood;
  }
  &__main{
    position: relative;
    display: flex;
    align-items: center;
  }
  &__icon img{
    height: 50px;
    padding-bottom: 10px;
    margin-right: 30px;
    border-radius: 4px;
    background-color: chartreuse;
  }
  &__searchbox{
    margin-left: auto;
    width: 100%;
    background-color: chocolate;
  }
}

.body{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  height: 100%;
  padding-top: 130px;
  .main{
    height: 560px;
    background-image: image-url('booktower.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 30px center;
    vertical-align: bottom;
    padding: 0 60px;
    display: flex;
    &__content{
      height: 500px;
      width: 1000px;
      padding-top: 35px;
      color: rgb(223, 67, 67);
      margin: 0;
      padding: 0;
      &__title{
      display: block;
      height: 150px;
      width: 100%;
      margin-top: 10px;
      font-size: 50px;
      font-weight: bold;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
      line-height: 3.3;
      }
      &__sub{
      display: block;
      height: 144px;
      width: 100%;
      margin-top: 30px;
      font-size: 20px;
      font-weight: normal;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
      line-height: 3.3;
      }
    }
  }
  .sell-btn{
    height: 80px;
    width: 80px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 17px;
    &__text{
      display: block;
      font-size: 18px;
      margin-bottom: 5px;
      a{
        color: #fff;
        text-decoration: none;
      }
    }
    .icon-btn{
      height: 90%;
      width: 90%;
      color: #fff;
    }
  }
  .sell-btn:hover{
    background: rgba(110, 180, 245, 0.7);
  }
}

.banner{
  height: 150px;
  padding: 100px 40px;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.footer{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
}