
.show-body{
  height: auto;
  width: 100vw;
  padding: 40px;
  background-color:#e5f2ff;
  .sell-btn{
    height: 90px;
    width: 90px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    &__text{
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    .icon-btn{
      width: 60%;
      color: #fff;
    }
  }
  .sell-btn:hover{
    background: rgba(110, 180, 245, 0.7);
  }
  &__main{
    height: 1630px;
    width: 700px;
    margin: 0 auto;
    border: 1px solid #eee;
    border-radius: 1%;
    background-color: #fff;
    &__content{
      height: 1230px;
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      .show-item{
        height: 100%;
        width: 100%;
        padding: 24px 40px 40px;
        &__name{
          text-align: center;
          font-weight: bold;
          font-size: 24px;
        }
        &__images {
          height: 450px;
          width: 100%;
          margin: 16px auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          &__main{
            height: 350px;
            width: 560px;
            display: block;
            .show-image-main {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
          &__sub{
            height: 100px;
            width: 140px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            .show-image-sub{
              height: 100%;
              width: 100%;
              display: block;
              margin: 10px 10px 0 0;
              object-fit: cover;
            }
          }
        }
        &__price {
          height: 55px;
          width: 620px;
          text-align: center;
          display: flex;
          flex-direction: column;
          background-color: #ffff;
          font-size: 40px;
          font-weight: bold;
        }
        &__send-tax{
          height: 25px;
          font-size: 16px;
          font-weight: normal;
          text-align: center;
          margin-bottom: 20px;
        }
        &__detail{
          line-height: 1.5;
          font-size: 18px;
         margin-bottom: 30px;
        }
        &__box{
          height: 430px;
          width: 620px;
          display: table;
          border-collapse: separate;
          box-sizing: border-box;
          border-spacing: 2px;
          border-color: grey;
          table{
            width: 100%;
            height: 375px;
            border-collapse: collapse;
            border: 1px solid #f8f8f8;
            th{
             width: 20%;
             background-color: #eee;
             font-weight: 400;
             padding: 8px;
             border: 1px solid #dedede;
             font-size: 14px;
             text-align: center;
            }
            td{
              width: 61%;
              padding: 15px 15px;
              border: 1px solid #dedede;
              font-size: 14px;
            }
          }
          .category-name{
            text-decoration: none;
            color: #3CCACE;
            .fa-angle-right{
              padding: 0 20px;
            }
          }
        }
      }
    }
    .option{
      height: 50px;
      width: 640px;
      display: flex;
      justify-content: space-between;
      padding: 0 30px 0 30px;
      font-size: inherit;
      .likes-btn{
        padding: 10px;
        border-radius: 40px;
        color: #3CCACE;
        border: 1px solid #ffb340;
      }
      .likes_btn{
        text-decoration: none;
      }
      .report-btn{
        padding: 10px;
        display: inline-block;
        border-radius: 4px;
        color: #333;
        border: 1px solid #333;
        text-decoration: none;
      }
    }
    .show-item-comment{
      height: 300px;
      padding: 24px;
      margin: 10px 0;
      text-align: center;
      .textbox{
        width: 630px;
        min-height: 104px;
        padding: 10px;
      }
      
      .caution-box{
        padding: 8px;
        font-size: 14px;
        background-color: #f8f8f8;
        margin: 10px 0;
        text-align: left;
      }
      .form__submit{
        line-height: 48px;
        background: #3CCACE;
        border: 1px solid #949494;
        color: #fff;
        cursor: pointer;
        width: 60%;
        font-size: 18px;
        border-radius: 5px;
        margin-top: 20px;
      }
      .form__submit:hover {
        box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
      }
    }
    .link{
      height: 25px;
      width: 700px;
      display: flex;
      justify-content: space-between;
      
      .link-text{
        text-decoration: none;
        color: #3CCACE;
      }
    }
    .related-item{
      height: 330opx;
      width: 700px;
      &__title{
        display: block;
        margin: 24px 0 8px;
        color: #3CCACE;
        text-decoration: none;
        font-weight: bold;
        font-size: 22px;
      }
      .related-item-title{
        text-decoration: none;
      }
      &__image{
        height: 245px;
        width: 220px;
        margin-top: 24px;
        float: left;
        background-color: red;
        font-size: 0;
        font-weight: bold;
        .item-image{
          height: 150px;
          width: 220px;
          object-fit: cover;
        }
        &__box{
          height: 95px;
          background-color: white;
          color: #333;
          padding: 16px 16px 0 16px;
          &__title{
            font-size: 16px;
            text-align: left;
            line-height: 1.5;
          }
          &__text{
            height: 25px;
            width: 188px;
            font-size: 16px;
          }
          ul{
            width: 100%;
            margin-top: 10px;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline-start: 0em;
          }
          li{
            list-style: none;
          }
          &__tax{
            font-size: 10px;
            text-align: left;
          }
        }
      }
      &__image:hover{
        opacity: 0.6;
      }
    }
  }
}

